<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>
</head>
<body>
    <p th:text="${subject.getId()}">VALUE</p>
    <p th:text="${subject.getTitle()}">VALUE</p>
    <p th:text="${subject.getLecturer()}">VALUE</p>
    <p th:text="${subject.getCredits()}">VALUE</p>

    <a th:href="@{/subjects/{id}/edit(id=${subject.getId()})}">Edit</a>
    <form th:method="DELETE" th:action="@{/subjects/{id}(id=${subject.getId()})}">
        <input type="submit" value="Delete">
    </form>
</body>
</html>